@model IEnumerable<CollegeDatabaseManagementSystem.Models.Student>

<h2>Students List</h2>
<a asp-action="Create" class="btn btn-primary">Add new student</a>
<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Department</th>
            <th>DOB</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.StudentId</td>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.Department.DepartmentName</td>
                <td>@student.DateOfBirth</td>
                <td>
                    <a asp-action="Details" asp-route-id="@student.StudentId" class="btn btn-primary">Details</a> |
                    <a asp-action="Edit" asp-route-id="@student.StudentId" class="btn btn-warning">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@student.StudentId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>