@model CollegeDatabaseManagementSystem.Models.Grade

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Grade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.FullNameWithEnrollment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradeValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradeValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GradeID" class="btn btn-warning">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model?.GradeID" class="btn btn-danger">Delete</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
